<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wegram.samant"
    android:installLocation="auto">

    <uses-sdk tools:overrideLibrary="co.ronash.pushe" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.PORTRAIT"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.CAMERA" />

    <permission
        android:name="com.wegram.samant.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.wegram.samant.permission.C2D_MESSAGE" />

    <!-- Optional permissions -->
    <application
        android:name="org.telegram.messenger.ApplicationLoader"
        android:allowBackup="false"
        android:hardwareAccelerated="@bool/useHardwareAcceleration"
        android:icon="@drawable/ic_launcher"
        android:label="@string/AppName"
        android:largeHeap="true"
        android:manageSpaceActivity="org.telegram.ui.ManageSpaceActivity"
        android:theme="@style/Theme.TMessages.Start">
        <activity
            android:name="org.telegram.ui.LaunchActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="@bool/useHardwareAcceleration"
            android:label="@string/AppName"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/vnd.org.telegram.messenger.android.profile" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="telegram.me"
                    android:scheme="http" />
                <data
                    android:host="telegram.me"
                    android:scheme="https" />
                <data
                    android:host="telegram.dog"
                    android:scheme="http" />
                <data
                    android:host="telegram.dog"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter
                android:icon="@drawable/ic_launcher"
                android:priority="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="tg" />
            </intent-filter>

            <meta-data
                android:name="android.service.chooser.chooser_target_service"
                android:value=".TgChooserTargetService" />
        </activity>
        <activity
            android:name="org.telegram.ui.ShareActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:hardwareAccelerated="@bool/useHardwareAcceleration"
            android:stateNotNeeded="true"
            android:theme="@style/Theme.TMessages.Transparent"
            android:windowSoftInputMode="adjustPan">
            <intent-filter
                android:icon="@drawable/ic_launcher"
                android:priority="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="tgb" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.telegram.ui.ManageSpaceActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="@bool/useHardwareAcceleration"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="org.telegram.ui.IntroActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"></activity>
        <activity
            android:name="org.telegram.messenger.OpenChatReceiver"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"></activity>
        <activity
            android:name="org.telegram.ui.PopupNotificationActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:resizeableActivity="false"
            android:taskAffinity=""
            android:theme="@style/Theme.TMessages.PopupNotification"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>

        <receiver
            android:name="org.telegram.messenger.AutoMessageHeardReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="org.telegram.messenger.ACTION_MESSAGE_HEARD" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="org.telegram.messenger.AutoMessageReplyReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="org.telegram.messenger.ACTION_MESSAGE_REPLY" />
            </intent-filter>
        </receiver>
        <receiver android:name="org.telegram.messenger.CallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
        <receiver android:name="org.telegram.messenger.SmsListener">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <service
            android:name="org.telegram.messenger.AuthenticatorService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/auth" />
        </service>
        <service
            android:name="org.telegram.messenger.ContactsSyncAdapterService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_contacts" />
            <meta-data
                android:name="android.provider.CONTACTS_STRUCTURE"
                android:resource="@xml/contacts" />
        </service>
        <service
            android:name="org.telegram.messenger.TgChooserTargetService"
            android:label="@string/AppName"
            android:permission="android.permission.BIND_CHOOSER_TARGET_SERVICE">
            <intent-filter>
                <action android:name="android.service.chooser.ChooserTargetService" />
            </intent-filter>
        </service>
        <service
            android:name="org.telegram.messenger.NotificationsService"
            android:enabled="true" />
        <service
            android:name="org.telegram.messenger.NotificationRepeat"
            android:exported="false" />
        <service
            android:name="org.telegram.messenger.ClearCacheService"
            android:exported="false" />
        <service
            android:name="org.telegram.messenger.VideoEncodingService"
            android:enabled="true" />
        <service
            android:name="org.telegram.messenger.MusicPlayerService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="org.telegram.messenger.MusicBrowserService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

        <receiver android:name="org.telegram.messenger.MusicPlayerReceiver">
            <intent-filter>
                <action android:name="org.telegram.android.musicplayer.close" />
                <action android:name="org.telegram.android.musicplayer.pause" />
                <action android:name="org.telegram.android.musicplayer.next" />
                <action android:name="org.telegram.android.musicplayer.play" />
                <action android:name="org.telegram.android.musicplayer.previous" />
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="org.telegram.messenger.AppStartReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="org.telegram.start" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="org.telegram.messenger.WearReplyReceiver"
            android:enabled="true" />
        <receiver
            android:name="org.telegram.messenger.PopupReplyReceiver"
            android:enabled="true" />
        <receiver
            android:name="org.telegram.messenger.ShareBroadcastReceiver"
            android:enabled="true" />
        <receiver
            android:name="org.telegram.messenger.NotificationDismissReceiver"
            android:exported="false" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <uses-library
            android:name="com.sec.android.app.multiwindow"
            android:required="false" />

        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W"
            android:value="632dp" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H"
            android:value="598dp" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W"
            android:value="632dp" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H"
            android:value="598dp" />
        <meta-data
            android:name="com.google.android.gms.car.notification.SmallIcon"
            android:resource="@drawable/ic_player" />
        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="face" />

        <activity
            android:name="org.telegram.ui.Private_01"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name="org.telegram.khalkhaloka.Main" />
        <activity android:name="org.telegram.khalkhaloka.Coustumize" />
        <activity android:name="org.telegram.khalkhaloka.Font_select" />
        <activity android:name="org.telegram.khalkhaloka.FontSelectDialogCell" />
        <activity
            android:name="org.telegram.khalkhaloka.About"
            android:label="" />
        <activity android:name="org.telegram.khalkhaloka.Answering" />
        <activity android:name="org.telegram.khalkhaloka.Date" />
        <activity android:name="org.telegram.ui.GoToGroup" />
        <activity android:name="org.telegram.ui.GoToContact" />
        <activity android:name="org.telegram.ui.GoToSecurityChat" />
        <activity android:name="org.telegram.ui.GoToChannel" />
        <activity android:name="org.telegram.ui.GoToMyCloud" />
        <activity android:name="org.telegram.khalkhaloka.Ghost" />
        <activity android:name="org.telegram.khalkhaloka.Index_p" />
        <activity android:name="org.telegram.khalkhaloka.Makeh" />
        <activity
            android:name="org.telegram.khalkhaloka.Nicer"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="org.telegram.khalkhaloka.P_security" />
        <activity android:name="org.telegram.khalkhaloka.Posteh" />
        <activity android:name="org.telegram.khalkhaloka.Theme_sel" />
        <activity android:name="org.telegram.khalkhaloka.Setting" />
        <activity android:name="org.telegram.khalkhaloka.Recorder" />
        <activity android:name="org.telegram.khalkhaloka.Profile_page" />
        <activity android:name="org.telegram.khalkhaloka.Security" />
        <activity android:name="org.telegram.khalkhaloka.Profile_index" />
        <activity android:name="org.telegram.ui.IdFinder_m" />
        <activity android:name="org.telegram.ui.Setting_main" />
        <activity
            android:name="org.telegram.ui.Unread_01"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            >
        </activity>
        <activity
            android:name="org.telegram.ui.All_01"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            >
        </activity>
        <activity
            android:name="org.telegram.ui.Bot_01"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            >
        </activity>
        <activity
            android:name="org.telegram.ui.Channel_01"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            >
        </activity>
        <activity
            android:name="org.telegram.ui.Group_01"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            >
        </activity>
        <activity
            android:name="org.telegram.ui.Favorites_01"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            >
        </activity>
        <activity
            android:name="org.telegram.ui.SuperGroup_01"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            >
        </activity>
        <activity
            android:name="org.telegram.ui.Security_01"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            >
        </activity>
        <activity android:name="org.telegram.buy.Buy" />
        <activity android:name="org.telegram.khalkhaloka.OtherTools" />
        <activity
            android:name="org.telegram.hoshyar.Activity.SelectColorActivity"
            android:theme="@style/Theme.AppCompat.Light" />

        <service
            android:name="org.telegram.hoshyar.MyPushListener"
            android:exported="false">
            <intent-filter>
                <action android:name="co.ronash.pushe.RECEIVE" />
            </intent-filter>
        </service>

        <activity
            android:name="org.telegram.khalkhaloka.DialogAc"
            android:theme="@style/Theme.Transparent" />

        <receiver android:name="co.ronash.pushe.receiver.UpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data
                    android:path="com.wegram.samant"
                    android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.wegram.samant" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="co.ronash.pushe.token"
            android:value="PUSHE_9835702378" />
        <meta-data
            android:name="co.ronash.pushe.cr"
            android:value="aHR0cDovLzdiMTY2NTNiNjk2NDQ2NzBhNDNjZDBmYjg5NWYyNjRmOmY4MzNkNDkyODJhZTQ5NDA4NGMyMmY4ZjExNjEzZmI4QGNhLnB1c2hlLmNvLzk3Nw==" />

        <activity android:name="org.telegram.ui.Post" />
        <activity android:name="org.telegram.ui.ShowPost" />
        <activity android:name="org.telegram.khalkhaloka.DialogAb"
            android:theme="@style/Theme.Transparent"></activity>
    </application>

</manifest>
